body{
  padding: 0;
  margin: 0;
  // overflow: hidden;
}


// navigation bar scss 
.icreate-nav{

  padding: 2% 5%;
  .icreate-brand{
    font-size: 1.8rem;
    font-weight: 900;
    margin-top: -8px;
    margin-right: 7%;
  }
  .nav-item{
    margin: 0 20px;
  }
}
.icreate-nav1{
  padding: 2% 5%;
  background-color: black !important;
  .icreate-brand{
    font-size: 1.8rem;
    font-weight: 900;
    margin-top: -8px;
    margin-right: 7%;
    color: white;
  }
  .nav-item{
    margin: 0 20px;
    color: white;
  }
  .nav-link{
    color: white;
  }
}
// Above navigation bar code


// Content Part style is here 
.content-part{
  padding: 2% 5%;
  line-height: 2;
  .content-heading-container{
    margin-top: 8%;
  }
  .content-heading{
    font-weight: 800;
  }
  .content-p{
    margin-bottom: 40px;
  }
  .content-btn{
    margin-right: 20px;
  }
}
.content-part1{
  padding: 2% 5%;
  line-height: 2;
  background-color: black;
  color: white;
  .content-heading-container{
    margin-top: 8%;
  }
  .content-heading{
    font-weight: 800;
  }
  .content-p{
    margin-bottom: 40px;
  }
  .content-btn{
    margin-right: 20px;
  }
}
.carousel-btn-next{
  width: 30px !important;
  background-color: black;
  height: 10%;
  position: absolute;
  top: 50%;
  right: 0;      
  transform: translateY(-50%);
}
.carousel-btn-previous{
  width: 30px !important;
  height: 10%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 0;       
  transform: translateY(-50%);

}


// Our Services Stylesheet is here
#our-services{
  text-align: center;
  background-color: #F3F4F7;
  padding: 6% 5%;
  .our-services-question{
    color: blue;
  }
  .our-services-heading{
    font-weight: bold;
  }
  .cards-container{
    margin: 5% auto;
    text-align: center;
    .our-services-container{
      background-color: white;
      margin: auto 20px;
      padding: 3%;
      .our-services-img{
        width: 100px;
      }
    }
    .cards-heading{
      margin-top: 15px;
      color: blue;
      font-weight: bold;
    }
    .pair-cards{
      background-color: black;
      color: white;
    }
  }
}


.carousel-container{
  padding: 5%;
  text-align: center;
  .question-p{
    color: blue;
  }
  .project-container{
    margin-top: 5%;
    *{
      text-align: left;
    }
    img{
      width: 300px;
      height: 300px;
      text-align: right;
      border-radius: 50%;
    }
    img:hover{
      opacity: 50%;
    }
    .p-inside-img{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 16px;
      right: 0;
      height: 100%;
      width: 300px;
      border-radius: 50%;
      opacity: 0;
      transition: .5s ease;
      background-color: #008CBA;
      p{
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }
    .p-inside-img:hover{
      opacity: 1;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .project-link{
      margin-right: 20px;
    }
  }
  .project-description-container{
    margin-top: 3%;
  }
}
.our-skills-container{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5%;
  .our-skills{
    margin: 50px;
  }
}


#Team-page{
  background-color: #F3F4F7;
  padding: 5%;
  text-align: center;
  color: black;
  .question-p{
    color: blue;
  }
  .team-page-heading{
    font-weight: bold;
    margin-bottom: 50px;
  }
  .team-img{
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .team-member-container{
    font-weight: 100;
    margin-right: 5%;

    .team-member-name{
      font-weight: 200;
    }
    .developer-type{
      color: blue;
    }
  }
  .choose-us{
    margin-top: 3%;
    padding: 2% 20%;
    border-top: 1px solid black;

  }
}



// Footer part is here
#icreate-footer{
  padding: 5%;
  line-height: 2;
}
.need-help-container{
  text-align: center;
  padding: 3%;
  background-color: black;
  color: white;
  font-weight: 600;
}
.social-icons{
  margin-right: 5px;
}